/*Todo Custom Properties */

:root {
    --primary-color: #2C3E50;
    --secondary-color: #1ABC9C;
}



/*# Generics */

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}


/** Utils */

.bgc-primary {
    background-color: var(--primary-color);
}

.bgc-secondary {
    background-color: var(--secondary-color);
}

.evidenz1 {
    border: 1px dashed black;
}

.evidenz2 {
    border: 1px dashed red;
}

.card {
    height: 200px;
    border: 1px dashed blue;
    background-color: #cecece;
}

div[class^=separator] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.separator-line {
    display: inline-block;
    width: 50px;
    height: 5px;
    border-radius: 5px;
}

.separator-light>.separator-line {
    background-color: #fff;
}

.separator-dark {
    color: var(--primary-color);
}

.separator-dark>.separator-line {
    background-color: var(--primary-color);
}

/** header  */

/** main */

#portfolio,
#contact,
#contact .form-control::placeholder {
    color: var(--primary-color);
}

#contact .form-control {
    border-radius: 0;
    padding-left: 0;
    border-width: 0 0 1px 0;
}


/** footer */

footer {
    background-color: #3A546D;
}

.footer-bottom {
    background-color: var(--primary-color);
}